<h1>Click on the games</h1>
<hr>
{{#each games}}
 <img src = "{{this.background_image}}"/>
<p>{{name}}</p>
<p>{{rating}}</p>
<p>{{released}}</p>
<a href="/games/{{this.id}}"> See records</a>
{{/each}}