<div class="games">
<p>Click on the games or search for records</p>
{{#each games}}
<div class="inner-games">
 <img class="game-backgrounds"src = "{{this.background_image}}"/>
<p>{{name}}</p>
<p>{{rating}}</p>
<p>{{released}}</p>
<a href="/games/{{this.id}}"> See records</a>
{{/each}}
</div>
</div>