<div class="records">
<h1> All records for {{game_name}} </h1>
<p>{{game_id}}</p>
<a href="/games/{{game_id}}/records/create">Create a Record</a>
{{#each records}}
<hr>
<table>
    <tr>
        <th>Record holder</th>
        <th>Completion time(minutes)</th>
        <th>Picture/Proof</th>
        <th>Video of run</th>
    </tr>
    <tr>
        <td>{{this.name}}</td>
    </tr>
    <tr>
        <td>{{this.time}}</td>
    </tr>
    <tr>
        <td>{{this.picture}}</td>
    </tr>
    <tr>
        <td>{{this.video}}</td>
    </tr>
</table>
{{!-- <p>Record Holder: {{this.name}}</p>
<p>Time : {{this.time}}</p>
<p>Picture : {{this.picture}}</p>
<p>Video: {{this.video}}</p> --}}
</div>
<a href="/games/{{this.id}}/records/edit"> Edit</a>
<form action = "/games/{{../game_id}}/records/{{this.id}}/delete" method="POST">
    <button type="submit">Delete</button>
    </form>
{{/each}}

<table>
    <tr>
        <th>Record holder</th>
        <th>Completion time(minutes)</th>
        <th>Picture/Proof</th>
        <th>Video of run</th>
    </tr>
    <tr>
        <td>{{this.name}}</td>
    </tr>
    <tr>
        <td>{{this.time}}</td>
    </tr>
    <tr>
        <td>{{this.picture}}</td>
    </tr>
    <tr>
        <td>{{this.video}}</td>
    </tr>
</table>