<h1> All records</h1>
<p>{{game_id}}</p>
<a href="/games/{{game_id}}/records/create">Create a Record</a>
{{#each records}}
<hr>
<p>Record Holder: {{this.name}}</p>
<p>Time : {{this.time}}</p>
<p>Picture : {{this.picture}}</p>
<p>Video: {{this.video}}</p>
<a href="/games/{{this.id}}/records/edit"> Edit</a>
<form action = "/games/{{../game_id}}/records/{{this.id}}/delete" method="POST">
    <button type="submit">Delete</button>
    </form>
{{/each}}